.content {
    display: flex;
}
.card {
    width: 30%;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}
.fake-image {
    height: 200px;
    width: 90%;
    background-color: aqua;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .card {
        width: 90%;
    }
}